h1, h2, p {
  font-family: 'lato', sans-serif;
  font-weight: 400; }

h1 {
  font-size: 7.75rem;
  padding: .8rem 0;
  font-weight: 300; }

h2 {
  font-size: 1.6rem;
  padding: 1rem 0; }

p {
  color: #888888;
  font-size: 1.2rem; }

.App {
  background-color: #fbfafa;
  position: relative;
  border-radius: 1.2rem;
  box-shadow: 0 50px 30px -40px #777777;
  margin-bottom: 16%;
  animation: drop-card-fade-shadow .8s linear forwards; }

.card {
  height: 225px;
  width: 402px;
  padding: 4rem;
  position: relative; }

.icon {
  width: 250px;
  position: absolute;
  top: -60px;
  right: -34px;
  animation: drop-card 1.4s linear forwards; }

.details {
  animation: drop-card-fade 1s linear forwards; }

.spinner {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 160px;
  left: -30px;
  right: 0;
  margin-left: 50%;
  animation: rotate-all 1s linear infinite; }

.right-side, .left-side {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden; }

.left-side {
  left: 0; }

.right-side {
  right: 0; }

.bar {
  width: 100%;
  height: 100%;
  border-radius: 200px 0 0 200px;
  border: 10px solid #fc637a;
  position: relative;
  box-sizing: border-box; }

.right-side .bar {
  border-radius: 0 200px 200px 0;
  border-left: none;
  transform: rotate(-10deg);
  transform-origin: left center;
  animation: rotate-right 0.75s linear infinite alternate; }

.left-side .bar {
  border-right: none;
  transform: rotate(10deg);
  transform-origin: right center;
  animation: rotate-left 0.75s linear infinite alternate; }

@keyframes rotate-left {
  0% {
    transform: rotate(30deg); }
  100% {
    transform: rotate(175deg); } }

@keyframes rotate-right {
  0% {
    transform: rotate(-175deg); }
  100% {
    transform: rotate(-30deg); } }

@keyframes rotate-all {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

@keyframes drop-card {
  0% {
    transform: translateY(-16px); }
  40% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }

@keyframes drop-card-fade {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  40% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes drop-card-fade-shadow {
  0% {
    box-shadow: 0 90px 30px -40px #777777;
    transform: translateY(-20px);
    opacity: 0; }
  40% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0px);
    opacity: 1;
    box-shadow: 0 50px 30px -40px #777777; } }
